@model FinanceMVC.ViewModel.EstadoTarjetasViewModel

@{
    ViewBag.Title = "EstadoTarjetaForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Titulo</h1>

@using (Html.BeginForm("Save", "EstadosTarjeta"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Registro de Estados</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.FechaVencimiento, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FechaVencimiento, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FechaVencimiento, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BalancePendiente, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BalancePendiente, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BalancePendiente, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProductosId, "ProductoId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ProductosId, new SelectList(Model.ListadoProductos, "ProductoId", "Nombre"), "Selecciona el producto", new { @class = "form-control", id = "ProductosId" })
                @Html.ValidationMessageFor(model => model.ProductosId)
            </div>
        </div>


        @Html.HiddenFor(m => m.EstadoTarjetaId)
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary "> Guardar </button>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver", "Listado")
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
