@model IEnumerable<FinanceMVC.Models.EstadoTarjetas>

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listado de Estados de Tarjetas</h2>

<p>
    @Html.ActionLink("Crear", "EstadoTarjetaForm", "EstadoTajeta", new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FechaEstado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaVencimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BalancePendiente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Productos.Nombre)
        </th>
        <th>Transacciones</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FechaEstado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaVencimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaCreacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BalancePendiente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Productos.Nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.EstadoTarjetaId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.EstadoTarjetaId })
        </td>
        <td>
            @Html.ActionLink("Agregar", "Listado", "Transaccion", new { id = item.EstadoTarjetaId })
        </td>
    </tr>
}

</table>