@model FinanceMVC.ViewModel.ProductoFormViewModel

@{
    ViewBag.Title = Model.Titulo;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*
    @if (Model != null && Model.ProductoId != 0 )
    {
    <h2>Editando Producto</h2>
    }
    else
    {
    <h2>Nuevo Producto</h2>
    }
*@

<h1>@Model.Titulo</h1>

@using (@Html.BeginForm("Save", "Producto"))
{
    @Html.ValidationSummary(true, "Complete los campos obligatorios")
    <div class="form-group">
        @Html.LabelFor(m => m.Nombre, new { @class = "form-control-label" })
        @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Nombre)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.DiaVencimiento, new { @class = "form-control-label" })
        @Html.TextBoxFor(m => m.DiaVencimiento, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.DiaVencimiento)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.LimiteCredito, new { @class = "form-control-label" })
        @Html.TextBoxFor(m => m.LimiteCredito, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.LimiteCredito)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.LimiteCreditoDollar, new { @class = "form-control-label" })
        @Html.TextBoxFor(m => m.LimiteCreditoDollar, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.LimiteCreditoDollar)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Numero, new { @class = "form-control-label" })
        @Html.TextBoxFor(m => m.Numero, new { @class = "form-control" })

    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.CompaniaTarjetaCreditoId, htmlAttributes: new { @class = "form-control-label" })
        @Html.DropDownListFor(m => m.CompaniaTarjetaCreditoId, new SelectList(Model.ListadoCompanyTarjetasCreditos, "CompanyTarjetaCreditoId", "NombreCompany"), "Selecciona la Compañia", new { @class = "form-control", id = "CompaniaTarjetaCreditoId" })

        @Html.ValidationMessageFor(m => m.CompaniaTarjetaCreditoId)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.BancoId, htmlAttributes: new { @class = "form-control-label" })
        @Html.DropDownListFor(m => m.BancoId, new SelectList(Model.ListadoBancos, "BancoId", "NombreBanco"), "Selecciona el Banco", new { @class = "form-control", id = "BancoId" })
        @Html.ValidationMessageFor(m => m.BancoId)
    </div>

    @Html.HiddenFor(m => m.ProductoId)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary "> Guardar </button>

}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}