 <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Finance Demo", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Productos", "Index", "Producto")</li>
                    <li>@Html.ActionLink("Bancos", "Index", "Banco")</li>
                    <li>@Html.ActionLink("Compañia Tarjetas", "Index", "CompanyTarjeta")</li>
                    <li>@Html.ActionLink("Estados Tarjetas", "Listado", "EstadosTarjeta")</li>
                    <li>@Html.ActionLink("Transaccion", "Index", "Transaccion")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
@*
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                <span class="sr-only">Navegacion</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Finance Demo", "Index", "Producto", new { area = "" }, new { @class = "navbar-brand" })
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Productos", "Index", "Producto")</li>
                <li>@Html.ActionLink("Bancos", "Index", "Banco")</li>
                <li>@Html.ActionLink("Compañia Tarjetas", "Index", "CompanyTarjeta")</li>
                <li>@Html.ActionLink("Estados Tarjetas", "Index", "EstadosTarjeta")</li>
                <li>@Html.ActionLink("Transaccion", "Index", "Transaccion")</li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
*@